:root {
  --white: #fef8ff;
  --black: #020409;
  --red: #d43a41;
  --dark-brown: #310505;
  --light-brown: #661f17;
  --orange-brown: #ac4b36;
}

body {
  background-color: var(--black);
}
.title-h1 {
  color: var(--red);
}
